<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFServiceCertna" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.10.2.137/CSRest/WCFServiceCertna.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFServiceCertna"
                contract="ServiceReference1.IWCFServiceCertna" name="BasicHttpBinding_IWCFServiceCertna" />
        </client>
    </system.serviceModel>
</configuration>